.DS_Store
build/
*.pbxuser
!default.pbxuser
xcuserdata
*.xcuserstate
**/.xcode.env.local
DerivedData
*.ipa

build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

node_modules/
npm-debug.log
yarn-error.log

**/Pods/
/vendor/bundle/

.metro-health-check*
/coverage
*.jsbundle
.env
